
* {
  box-sizing: border-box;
  margin: 0;
}

body{
    background: #3F3351;
}


.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

/*Imaginary Friends Logo*/
.logo img {
    height: 30px;
    margin-left: 4rem;
    width: 50px;
    height: 55px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



/*Imaginary Friends Navigation Bar*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1440px;
    width: 100%;
}
  
.navbar {
    background-color: transparent;
    padding-right: 100px;
    max-width: 1440px; 
}
  
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
.nav-item {
    margin-left: 10px;
}
  
.nav-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
  
.sub-nav-list {
    list-style: none;
    top: 100%;
    left: 0;
    display: none;
    background-color: #3F3351;
    padding: 10px;
}
  
.sub-nav-item {
    margin-top: 5px;
}
  
.nav-item:hover .sub-nav-list {
    display: block;
}

/*       FOOTER SECTION      */

#footer-frame {
    background: #1F1D36;
    display: flex;
    direction: row;
}

.footer-company{
  padding: 2rem;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.footer-details{
  display: flex;
  flex-direction: row;
}

.footer-menu{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-menu{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-contact{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer-follow-us{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.follow-us-icons{
  display: flex;
  flex-direction: row;
}
  
  #footer-logo {
    width: 3rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  #footer-description {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }

  #footer-copyright{
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
  
  /* MENU SECTION */
  #footer-menu {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  #footer-home,
  #footer-characters,
  #footer-fanzone,
  #footer-about-us {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  
  /* CONTACT US SECTION */
  #footer-contacts {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
  }
  
  #footer-email,
  #footer-contact-no {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  
  /* FOLLOW US SECTION */
  #footer-follow-us-title {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
  }

/* ABOUT US BIG FRAME */
#about-us-frame {
    padding: 5rem;
  }

.companylandscape{
  max-width: 100%;
  padding: 0%;
  height: auto;
  display: block;
  border-radius: 30px;
}
  
  #company-description {
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
  }
  
  #about-description {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
  }

  #below-about-us {
    margin-top: 4rem;
  }

  #game-content {
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
  }

  #game-description {
    padding: 5rem;
  }
  
  #title2 {
    margin-left: 2rem;
    font-family: 'Griffy';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    text-align: center;
  }
  
  #frame2 {
    background: linear-gradient(107.33deg, #786397 35.71%, rgba(120, 99, 151, 0) 129.42%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    padding: 20rem 20rem;
  }
  
  #title3 {
    font-family: 'Griffy';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
  }
  
  #description2 {
    font-family: 'Song Myung';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

/*FOUNDER'S SECTION*/

#founder-section {
  margin-top: 2rem;
  padding: 2rem 15rem;
}

#founder-section > p {
  margin-left: 5rem;
  text-align: center;
}

.founder {
  display: flex;
  flex-direction: row;
}

.founder-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem;
}

.founder-description {
  font-family: 'Song Myung';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
  color: #FFFFFF;
}

.founder-image img {
  width: 20rem;
  border-radius: 55%;
}

#founder-title {
  font-family: 'Griffy', sans-serif;
  padding: 5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
}

.founder-name {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 54px;
  color: #FFFFFF;
}

/* Media Queries */

/*For Mobile View*/
@media (max-width: 480px) {
  .container{
    width: 100%;
  }

  body{
    min-width: 100%;
  }

  .logo img {
    /* margin-left: 10px; */
  }

  #footer-copyright{
    text-align: center;
  }

  #footer-frame{
    flex-direction: column;
  }

  #company-description{
    font-size: 25px;

  }

  .footer-company{
    width: 100%;
  }

  .footer-details{
    flex-direction: row;
  }
  .follow-us-icons{
    flex-direction: column;
  }

  #founder-title,
  .founder-name
  {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .founder-details{
    padding: 0;
  }

  .founder-description
  {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .founder-image
  {
    width: 100%;
    height: auto;
    left: 0;
  }

  #AboutUsFrame,
    #frame2 {
      width: 100%;
      left: 0;
      border-radius: 0;
    }
    
    #about-title,
    #about-description,
    #title2,
    #title3,
    #description2 {
      width: 100%;
      left: 0;
      text-align: center;
    }
    
    #about-us-frame {
      height: auto;
      padding: 20px;
      top: 150px;
    }
    
    #frame2 {
      height: auto;
      padding: 20px;
      top: 1000px;
    }

    #footer-frame {
      position: static;
      height: auto;
      padding: 30px 0;
    }
  
    #footer-logo {
      margin: 0 auto;
    }

    #footer-menu,
    #footer-contacts,
    #footer-follow-us {
      display: none;
    }

    .navbar {
      padding-right: 10px;
    }

    .founder{
      flex-direction: column;
    }
    #founder-section{
      padding: 10%;
      margin: auto;
    }
}

@media (max-width: 768x) {
  .container{
    width: 100%;
  }

  body{
    width: 100%;
  }

  .logo img {
    /* width: 100%; */
  }

  #founder-title,
  .founder-name
  {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .founder-details{
    padding: 0;
  }
  .founder-description
  {
    width: 100%;
    left: 0;
    text-align: center;
  }
  #about-title{
    font-size: 35px;
  }

  .founder-image
  {
    width: 100%;
    height: auto;
    left: 0;
  }

  #about-us-frame,
    #frame2 {
      width: 100%;
      left: 0;
      border-radius: 0;
    }
    
    #about-title,
    #about-description,
    #title2,
    #title3,
    #description2 {
      width: 100%;
      left: 0;
      text-align: center;
    }
    
    #about-us-frame {
      height: auto;
      padding: 35px;
      top: 150px;
    }
    
    #frame2 {
      height: auto;
      padding: 20px;
      top: 1000px;
    }

    #footer-frame {
      position: static;
      height: auto;
      padding: 30px 0;
    }
  
    #footer-logo {
      margin: 0 auto;
    }

    #footer-menu,
    #footer-contacts,
    #footer-follow-us {
      display: none;
    }

    .navbar {
      padding-right: 10px;
    }

    #game-content {
      flex-direction: column;
    }

    #founder-section{
      padding: 10%;
      margin: auto;
    }

    #founder-section > p{
      margin: auto;
    }
}