@media screen and (min-width: 721px) {
    :root {
        --nav_top-margin-right: 5rem;
        --nav_top-display: flex;
        --img_logo-width: 5rem;
        --img_logo-heigth: 5rem;
        --footer-display: flex;
        --footer-justify-content: space-between;
        --footer_containers-margin-bottom: 0;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --footer-display: grid;
        --footer-justify-content: center;
        --footer_containers-margin-bottom: 5rem;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --nav_top-margin-right: 3rem;
        --img_logo-width: 3rem;
        --img_logo-heigth: 3rem;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --nav_top-margin-right: 1rem;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --nav_top-margin-right: 1rem;
        --nav_top-display: none;
    }
}

:root {
    --jacarta: #3f3351;
    --dark-gunmetal: #1f1d36;
    --mystic-maroon: #AD5389;
    --russian-violet: #3C1053;
    --blue-violet: #8461b5;
    --purple-gradient: linear-gradient(to bottom right, var(--mystic-maroon), var(--russian-violet));
}

@font-face {
    font-family: "Giffy";
    src: url("../assets/fonts/Griffy-Regular.ttf");
}

@font-face {
    font-family: "SongMyung";
    src: url("../assets/fonts/SongMyung-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--jacarta);
    font-family: "SongMyung";
    color: white;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--mystic-maroon);
}

a:active {
    color: var(--russian-violet);
}

/* ************************************************************************************************** */
/* Container Markers */
/* header, footer {
    border: black solid 1px;
}

nav {
    border: green solid 1px;
}

div {
    border: red solid 1px;
}

ul, ol, li {
    border: blue solid 1px;
} */
/* ************************************************************************************************** */
/* For Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--dark-gunmetal);
}

#header-logo {
    margin-left: 1rem;
    margin-right: auto;
    width: var(--img_logo-width);
    height: var(--img_logo-heigth);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#nav-header {
    display: var(--nav_top-display);
    margin-left: auto;
    margin-right: var(--nav_top-margin-right);
}


#nav-header ul {
    display: flex;
}

#nav-header ul li {
    margin: 0 1rem;
}
/* ************************************************************************************************** */
/* For Footer */

footer {
    display: var(--footer-display);
    justify-content: var(--footer-justify-content);
    padding: 3rem 2rem;
    margin-right: auto;
    background-color: var(--dark-gunmetal);
}

footer div, footer nav {
    margin-bottom: var(--footer_containers-margin-bottom);
}

.footer-labels {
    text-align: center;
    font-size: x-large;
}

#footer-copyright {
    text-align: center;
}

#footer-logo {
    width: var(--img_logo-width);
    height: var(--img_logo-heigth);
}

#nav-footer ul {
    text-align: center;
}

#footer-contacts ul li {
    display: flex;
    align-items: center;
}

#footer-contacts ul li img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

#footer-follow ul {
    display: flex;
    justify-content: center;
}

#footer-follow ul li {
}

#footer-follow ul li img{
    width: 2rem;
    height: 2rem;
}
/* ************************************************************************************************** */
/* For Main Content */
#main-content {
    margin: 1rem;
    padding-top: 5rem;
    min-height: 100vh;
    display: grid;
    justify-content: center;
}