:root {
    --jacarta: #3f3351;
    --dark-gunmetal: #1f1d36;
    --mystic-maroon: #AD5389;
    --russian-violet: #3C1053;
    --blue-violet: #8461b5;
    --purple-gradient: linear-gradient(to bottom right, var(--mystic-maroon), var(--russian-violet));
}

@font-face {
    font-family: "Giffy";
    src: url("../assets/fonts/Griffy-Regular.ttf");
}

@font-face {
    font-family: "SongMyung";
    src: url("../assets/fonts/SongMyung-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--jacarta);
    font-family: "SongMyung";
    color: white;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--mystic-maroon);
}

a:active {
    color: var(--russian-violet);
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-violet);
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
}

.button:hover {
    color: white;
}

.button:active {
    background-color: var(--russian-violet);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

/* ************************************************************************************************** */
/* Container Markers */
/* header, footer, section {
    border: black solid 1px;
}

nav {
    border: green solid 1px;
}

div{
    border: red solid 1px;
}

ul, ol, li {
    border: blue solid 1px;
}

p {
    border: yellow solid 1px;
} */
/* ************************************************************************************************** */
/* For Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--dark-gunmetal);
}

#header-logo {
    margin-left: 1rem;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#nav-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5rem;
}

#nav-header ul {
    display: flex;
    flex-direction: row;
}

#nav-header ul li {
    margin: 0 1rem;
}

#check-hamburger {
    display: none;
}

#check-hamburger:checked ~ #nav-header {
    left: 0;
}

#button-hamburger {
    display: none;
    position: fixed;
    right: 2rem;
}

#button-hamburger img {
    width: 2rem;
    height: 2rem;
}
/* ************************************************************************************************** */
/* For Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 2rem;
    margin-right: auto;
    background-color: var(--dark-gunmetal);
}

footer div, footer nav {
    margin-bottom: 0;
}

.footer-labels {
    text-align: center;
    font-size: x-large;
}

#footer-copyright {
    text-align: center;
}

#footer-logo {
    width: 5rem;
    height: 5rem;
}

#nav-footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footer-contacts ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-contacts ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer-contacts ul li img {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

#footer-follow ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer-follow ul li img{
    width: 2rem;
    height: 2rem;
}
/* ************************************************************************************************** */
/* For Main Content */
#main-content {
    margin: 1rem;
    margin-top: 7rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* Media Queries */
@media screen and (max-width: 900px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem 2rem;
        margin-right: auto;
        background-color: var(--dark-gunmetal);
    }

    footer div, footer nav {
        margin-bottom: 5rem;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 720px) {
    #nav-header {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 3rem;
    }

    #header-logo {
        margin-left: 1rem;
        margin-right: auto;
        width: 4rem;
        height: 4rem;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    #footer-logo {
        width: 4rem;
        height: 4rem;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 480px) {
    #nav-header {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 1rem;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 360px) {
    #nav-header {
        position: fixed;
        left: -100%;
        top: 6rem;
        width: 100%;
        height: 100%;
        background-color: var(--dark-gunmetal);
        justify-content: center;
        transition: all .5s;
    }

    #nav-header ul {
        display: flex;
        flex-direction: column;
    }
    
    #nav-header ul li {
        margin: 1rem 0;
        font-size: larger;
    }

    #button-hamburger {
        display: block;
        position: fixed;
        right: 2rem;
    }
}