@media screen and (min-width: 721px) {
    :root {
        --content-primary--display: flex;
        --img-tree--size: 45rem;
        --text-plot--padding: 2rem 5rem;
        --text-about--padding: 0 5rem;
        --text-game-title--size: 3rem;
        --download-section--margin-right: 1rem;
        --download-button--font-size: larger;
        --download-button--img-size: 1.5rem;
    }
}

@media screen and (max-width: 1080px) {
    :root {
        --content-primary--display: grid;
        --download-section--margin-right: 0;
        --img-tree--size: 35rem;
    }
}

@media screen and (max-width: 720px) {
    :root {
        --text-plot--padding: 1rem 2.5rem;
        --text-about--padding: 0 3rem;
        --text-game-title--size: 2.5rem;
        --img-tree--size: 25rem;
        --download-button--font-size: large;
        --download-button--img-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --img-tree--size: 15rem;
        --text-plot--padding: 1rem 2rem;
        --text-about--padding: 0 2.5rem;
        --text-game-title--size: 2rem;
    }
}

@media screen and (max-width: 360px) {
    :root {
        --text-plot--padding: 1rem 1.5rem;
        --text-about--padding: 0 1.5rem;
    }
}

#content-primary {
    display: var(--content-primary--display);
    align-items: center;
    margin: 3rem 2rem;
}

#download-section {
    margin-right: var(--download-section--margin-right);
}

#text-game-title {
    font-family: "Giffy";
    font-size: var(--text-game-title--size);
    margin: 0;
    text-align: center;
}

#text-ads {
    text-align: center;
}

#img-tree {
    width: var(--img-tree--size);
    height: var(--img-tree--size);
    margin: auto;
}

#button-download {
    margin: auto;
    font-size: var(--download-button--font-size);
    margin-bottom: 1rem;
}

#button-download img {
    width: var(--download-button--img-size);
    height: var(--download-button--img-size);
    margin-right: 1rem;
}

.content-labels {
    text-align: center;
    font: xx-large "Giffy";
}

#content-plot {
    margin: 3rem 2rem;
}

#text-plot {
    text-align: center;
    background-image: var(--purple-gradient);
    padding: var(--text-plot--padding);
    border-radius: 30px;
}

#content-about {
    margin: 3rem 3rem;
    display: grid;
    justify-content: center;
}

#text-about {
    text-align: center;
    padding: var(--text-about--padding);
}

#button-view-more {
    margin: auto;
}