#content-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 2rem;
}

#download-section {
    margin-right: 1rem;
    text-align: center;
}

#text-game-title {
    font-family: "Giffy";
    font-size: 3rem;
    margin: 0;
}

#img-tree {
    width: 60%;
    height: 60%;
    margin: auto;
}

#button-download {
    margin: auto;
    font-size: larger;
    margin-bottom: 1rem;
}

#button-download img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.content-labels {
    text-align: center;
    font: xx-large "Giffy";
}

#content-plot {
    margin: 3rem 2rem;
    transition: all 1s;
}

#text-plot {
    text-align: center;
    background-image: var(--purple-gradient);
    padding: 2rem 5rem;
    border-radius: 30px;
}

#content-about {
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#text-about {
    text-align: center;
    padding: 0 5rem;
}

#button-view-more {
    margin: auto;
}
/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* ************************************************************************************************** */
/* Media Queries */
@media screen and (max-width: 1080px) {
    #content-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 2rem;
    }

    #download-section {
        margin-right: 0;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 720px) {
    #text-game-title {
        font-family: "Giffy";
        font-size: 2.5rem;
        margin: 0;
        text-align: center;
    }

    #text-plot {
        text-align: center;
        background-image: var(--purple-gradient);
        padding: 1rem 2.5rem;
        border-radius: 30px;
    }

    #text-about {
        text-align: center;
        padding: 0 3rem;
    }

    #button-download {
        margin: auto;
        font-size: large;
        margin-bottom: 1rem;
    }

    #button-download img {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 480px) {
    #text-game-title {
        font-family: "Giffy";
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }

    #text-plot {
        text-align: center;
        background-image: var(--purple-gradient);
        padding: 1rem 2rem;
        border-radius: 30px;
    }

    #text-about {
        text-align: center;
        padding: 0 2.5rem;
    }

    #button-download {
        margin: auto;
        font-size: medium;
        margin-bottom: 1rem;
    }
}
/* ************************************************************************************************** */
@media screen and (max-width: 360px) {
    #text-plot {
        text-align: center;
        background-image: var(--purple-gradient);
        padding: 1rem 1.5rem;
        border-radius: 30px;
    }

    #text-about {
        text-align: center;
        padding: 0 1.5rem;
    }
}